body {
  background-color: #ffffe0;
  color: #000000;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

nav {
  background-color: #000000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.625rem;
}

img {
  max-width: 200%;
  max-height: 200%;
}

h2 {
  color: #0000ff;
  margin-right: 12.5rem;
}

h3 {
  color: purple;
}

p {
  margin-bottom: 1em;
}

a {
  color: #ff0000;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  outline: 0.125rem solid #0000ff;
}

section.scrollable-content {
  overflow: auto;
  max-height: 18.75rem;
  resize: vertical;
}

button {
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: flex-start;
}

.image-container img {
  margin-left: 1.25rem;
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.625rem;
}
