body {
  background-color: #ffffe0; /* light yellow background */
  color: #000000; /* black text */
  font-size: 1.125rem; /* 18px */
  font-weight: bold;
  line-height: 1.5;
}

.logo-title {
  display: flex; /* align items in a row */
  align-items: center; /* center items vertically */
  gap: 0.625rem; /* 10px */
}

nav {
  background-color: #000000;
}

nav ul {
  list-style-type: none; /* removes bullet points */
  margin: 0; /* removes default margin */
  padding: 0; /* removes default padding */
  display: flex; /* align items in a row */
  justify-content: space-around; /* distribute items evenly */
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.625rem; /* 10px */
}

img {
  max-width: 200%;
  max-height: 200%;
}

h2 {
  color: #0000ff;
  margin-right: 12.5rem; /* 200px */
}

h3 {
  color: purple;
}

p {
  margin-bottom: 1em;
}

a {
  color: #ff0000;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  outline: 0.125rem solid #0000ff; /* 2px */
}

section.scrollable-content {
  overflow: auto; 
  max-height: 18.75rem; /* 300px */
  resize: vertical; 
}

button {
  cursor: pointer; 
}

.content {
  display: flex;
  justify-content: flex-start; 
}

.image-container img {
  margin-left: 1.25rem; /* 20px */
  max-width: 100%; 
}

ul {
  list-style-type: none; 
  padding: 0; 
}

ul li {
  margin-bottom: 0.625rem; /* 10px */
} 
